CREATE PROCEDURE add_Кредитор
@Название VARCHAR(80),
@Сумма_бр MONEY,
@Номер_дог VARCHAR(20),
@Предмет_дог VARCHAR(200),
@Дата_дог DATETIME,
@Наим_валюты VARCHAR(50),
@Сумма_в_валют MONEY,
@Номер_док_задолж VARCHAR(30),
@Наим_док_задолж VARCHAR(100),
@Дата_док_задолж DATETIME
AS
DECLARE @IDdoc INT

EXEC add_Документ @Номер_док_задолж, @Наим_док_задолж, @Дата_док_задолж, @IDdoc output;

INSERT INTO Кредитор (Название, Сумма_бр, Номер_договора, Предмет_договора, Дата_договора, Наим_валюты, Сумма_в_валюте, Документ_задолженность, DEL)
VALUES (@Название, @Сумма_бр, @Номер_дог, @Предмет_дог, @Дата_дог, @Наим_валюты, @Сумма_в_валют, @IDdoc, 0)
